<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="home">
    <div class="row">

      <div class="col-sm-6 mobile-pull">
        <article role="login">
          <h3 class="text-center"><i class="fa fa-lock"></i>USER</h3>
          <form class="signup" #userForm="ngForm">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="First Name" required #FirstName="ngModel"
                [(ngModel)]="userModel.FirstName" name="FirstName">
              <div *ngIf="!FirstName.valid && FirstName.touched">
                          <p class="small error-msg text-center" *ngIf="FirstName.errors.required">
                             required
                           </p>
                         <p class="small error-msg text-center" *ngIf="FirstName.errors.email">
                             invalid
                           </p>
                        </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Last Name" required #LastName="ngModel"
                [(ngModel)]="userModel.LastName" name="LastName">
              <div *ngIf="!LastName.valid && LastName.touched">
                          <p class="small error-msg text-center" *ngIf="LastName.errors.required">
                             required
                           </p>
                         <p class="small error-msg text-center" *ngIf="LastName.errors.email">
                             invalid
                           </p>
                        </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email Address" required email appUniqueEmail
                #email="ngModel" [(ngModel)]="userModel.Email" name="Email">


              <div *ngIf="email.errors">
                <div *ngIf="!email.valid && email.touched">
                            <p class="small error-msg text-center" *ngIf="email.errors.required">
                               required
                             </p>
                           <p class="small error-msg text-center" *ngIf="email.errors.email">
                               invalid
                             </p>
                  <p class="small error-msg text-center" *ngIf="email.errors.unique">
                               email already exists..
                             </p>
                          
                </div>
              </div>

            </div>

            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" required #Password="ngModel"
                [(ngModel)]="userModel.Password" name="Password">

              <div *ngIf="!Password.valid && Password.touched">
                          <p class="small error-msg text-center" *ngIf="Password.errors.required">
                             required
                           </p>
                         <p class="small error-msg text-center" *ngIf="Password.errors.email">
                             invalid
                           </p>
                        </div>

            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="AadharNo" required uniqueAadhar #AadharNo="ngModel"
                [(ngModel)]="userModel.AadharNo" name="AadharNo">
              <div *ngIf="AadharNo.errors">
                <div *ngIf="!AadharNo.valid && AadharNo.touched">
                            <p class="small error-msg text-center" *ngIf="AadharNo.errors.required">
                               required
                             </p>
                           <p class="small error-msg text-center" *ngIf="AadharNo.errors.email">
                               invalid
                             </p>
                      <p class="small error-msg text-center" *ngIf="AadharNo.errors.unique">
                               adhaar already exists.
                             </p>
                          </div>
              </div>
            </div>
            <label>Upload Image</label>
            <div class="form-group imageselector" >
              <div class="form-control" style="width:300px;height:40px;display: inline">
                <input type="file" accept="image/jpeg" #image (change)="onImageUpload($event)" 
                  style="display:inline; padding-right: 30px;">
              </div>
              <div style="display: inline">
                <img *ngIf="!display" src={{imageUrl}} style="width:100px;height:100px">
                <img *ngIf="display" src={{base64textString}} style="width:100px;height:100px;display: inline">
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-success btn-block" type="submit" (click)="submit()"> Submit </button>

            </div>
          </form>


        </article>
      </div>



    </div>
    <!-- end of row -->
  </div>
  <!-- end of home -->


</div>